{% extends "app/base.html" %}
{% block content %}
    {% for performance in performances %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ performance.articles.author }}</a>
              <small class="text-muted">{{ performance.article.created|date:"F d, Y" }}</small>
            </div>

            <h2><a class="article-title" href="#">{{ journal.title }}</a></h2>
            <p class="article-content">{{ performance.article.journal }}</p>
              {% for article in performances %}
                <h2>{{ article.journal }}</h2>
              {% endfor %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}